<div class="vs-banner vpad--xxxl bg--img text--white" style="background-image: url({{site.img}}/content/vs-banner.jpg);">
  <div class="container text--vs">

    <div class="row row--xxl-6-6 row--valign-center">
      <div class="col">
        <h3 class="title text--bold">
          <span class="title--sm">Now is the time to </span>
          <div class="space--xxs"></div>
          <span class="title--xl">experience </span>
          <span class="title--xxxl"> Scotland</span>
        </h3>
        <div class="space--sm"></div>
        <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal btn btn--solid">Watch and share our video</a>
      </div>

      <div class="col">
        <div class="vs-banner__video bg-img bg-img--16-9 bg-img--zoom" style="background-image: url({{site.img}}/content/vs-video.jpg);">
          <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal bg-img__link"></a>
          <div class="bg-img__content">
            <div class="bg-img__play"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="vs-banner__footer">
    <div class="container">
      <div class="row row--xxl-6-6">
        <div class="col">
          <div class="vs-banner__img-location img-location">The Paps of Jura, Island Of Jura</div>
        </div>
        <div class="col">
          <div class="vs-banner__logo">
          </div>
          <div class="vs-banner__scotlandisnow scotlandisnow scotlandisnow--xs"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="vs-banner__gradient"></div>
</div>