<div class="vs-banner vpad--xxxl bg--img" style="background-image: url({{site.img}}/content/vs-banner.jpg);">
  <div class="container text--vs">
    <div class="row row--6-6 row--valign-center">
      <div class="col">
        <div class="scotlandisnow"></div>
        <div class="space--sm"></div>
        <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal btn btn--solid">Watch and share our video</a>
      </div>
      <div class="col">
        <div class="vs-banner__video bg-img bg-img--16-9 bg-img--zoom" style="background-image: url({{site.img}}/content/vs-video.jpg);">
          <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal bg-img__link"></a>
          <div class="bg-img__content">
            <div class="bg-img__play"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vs-banner__gradient"></div>
</div>