<div class="vs-banner vpad--xxxl bg--img text--white" style="background-image: url({{site.img}}/content/vs-banner.jpg);">
  <div class="container text--vs">
    <div class="row row--6-6 row--valign-center">
      <div class="col">
        <h3 class="title title--xl text--bold">Now is the time <br />to experience Scotland</h3>
        <div class="space--sm"></div>
        <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal btn btn--solid">Watch and share our video</a>
        <div class="space--lg"></div>
        <div class="img-location">Loch Lomond, Scotland</div>
      </div>
      <div class="col">
        <div class="vs-banner__video bg-img bg-img--16-9 bg-img--zoom" style="background-image: url({{site.img}}/content/vs-video.jpg);">
          <a href="javascript:void(0);" data-modal-item="vs-video" class="js-open-modal bg-img__link"></a>
          <div class="bg-img__content">
            <div class="bg-img__play"></div>
          </div>
        </div>
        <div class="vs-banner__scotlandisnow scotlandisnow scotlandisnow--sm"></div>
      </div>
    </div>
  </div>
  <div class="vs-banner__gradient"></div>
</div>