---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  content: >
    <span class="title title--lg text--light text--upper text--wide-kern">Spring in</span>
    <h1 class="banner-title">Scotland</h1>
    <div class="scotlandisnow"></div>

intro: >
  <p class="text--lg">As Winter turns to Spring, the sweeping landscapes of Scotland begin to shine with life once more - there’s simply no better time to visit. From the sun-specked coastal towns along the westerly shores to the sprawling forests of the mainland, there’s a hidden treasure-trove of springtime wonders for all those who seek to find them. Discover ancient castles, shimmering lochs, relaxing getaways and adrenaline-fuelled adventures in the Scottish wilderness. Indeed, whether you’ve come for the adventure, the culture, or as an escape from the daily rat-race, there’s a few things in Scotland you can be sure to expect: clean air, staggering views, and some world-famous seafood.</p>

---

<div class="vpad--xxl">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>

  <div class="container">
    <div class="row row--4-4-4">
      {% assign guides = site.html_pages | where: 'group-parent', 'explore' | sort: 'group-order' %}
      {% for guide in guides %}
        <div class="col">
          {% include page/guide-tile.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>