---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  location: Loch Lomond from Inchcailloch
  content: >
    <span class="title title--lg text--light text--upper">Spring into</span>
    <div class="space--xxs"></div>
    <h1 class="banner-title">Scotland</h1>

intro: >
  <p class="text--lg">As winter turns to spring, the sweeping landscapes of Scotland begin to shine with life once more - there’s simply no better time to visit. From the sun-specked coastal towns dotted along the shores to the sprawling forests at the heart of the national parks, there’s a hidden treasure-trove of springtime wonders suited to every traveller. Discover ancient castles, shimmering lochs, relaxing getaways and adrenaline-fuelled adventures in the Scottish wilderness. Indeed, whether you’ve come for adventure, culture, or just to escape from the daily rat race, there’s a few things in Scotland you can be sure to expect: clean air, staggering views, and a warm welcome.</p>

---

<div class="vpad--xxl">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>

  <div class="container">
    <div class="row row--xl-4-4-4">
      {% assign guides = site.html_pages | where: 'group-parent', 'explore' | sort: 'group-order' %}
      {% for guide in guides %}
        <div class="col">
          {% include page/guide-tile.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>