---
layout: default
---


  <div class="vpad--xxl container">
    {% assign guides = site.html_pages | where: 'group-parent', page.id | sort: 'group-order' %}
    {% for guide in guides %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{guide.id}}/banner.jpg);">
          <a href="{{site.baseurl}}{{guide.url}}" class="bg-img__link"></a>
          <div class="bg-img__location">
            <div class="img-location img-location--sm">{{guide.banner.location}}</div>
          </div>
        </div>
      </div>
      <div class="bob__text">
        <h2 class="title title--lg text--bold">{{guide.title}}</h2>
        <p>{{guide.intro}}</p>
        <div class="space--xs"></div>
        <a href="{{site.baseurl}}{{guide.url}}" class="btn btn--solid">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>

