---
layout: default
---

<div class="container container--xl vpad--xxl text--center">
  {{page.intro}}
</div>



{% for section in page.sections %}
<div class="{% cycle '', ' bg--grey-lightest' %}">
  <div class="container">

    {% if section.title or section.content %}
    <div class="container container--xl text--center">
      <h1 class="title title--lg">{{section.title}}</h1>
      <p class="text--lg">{{section.content}}</p>
    </div>
    <div class="space--lg"></div>
    {% endif %}

    <div class="row row--6-6 row--gutters-xl">
      {% for highlight in section.highlights %}
      <div class="col">
        <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/highlights/{{highlight.id}}.jpg);">
          {% if highlight.location %}<div class="bg-img__location"> <div class="img-location img-location--sm">{{highlight.location}}</div> </div> {% endif %}
        </div>
        <div class="space--md"></div>
        <h4 class="title title--xs text--bold">{{highlight.title}}</h4>
        <p>{{highlight.content}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if page.external-link %}
  <div class="text--center">
    <div class="vpad--md"></div>
    <a href="{{page.external-link}}" target="_blank" id="tracking-external-btn-{{page.id}}" class="btn btn--solid">Read more on Visitscotland.com</a>
  </div>
  {% endif %}
  <div class="vpad--xl"></div>
</div>
{% endfor %}


